// app global css

.q-carousel {
  height: auto;
}

.q-z-1 {
    z-index : 1;
}

.background-purple{
  background: linear-gradient(30deg, rgb(176, 126, 233) 0%, rgba(121,99,247,1) 60%);
}

.text-size-medium
    font-size: medium

.text-size-large
    font-size: large

.text-size-xlarge
    font-size: x-large
